*{margin: 0;padding: 0;}

#right {
    position: absolute; 
    right: 0;
    left: 50%;
    margin: 0 5em;
}

#left-wrapper {
    position: absolute; left: 0; right: 50%;    
}


#left {
    position: fixed;
}

#staticSplash{background-color:#82bc41;min-height:100vh; display: block; text-align: center;pos}
#staticSplash img{}

.centerImg {max-width: 70%; margin: 0 auto;}
.centerCTA {max-width: 50%; margin: 0 auto;}

.panel{height:100vh;float: right;padding: 5%;}

.centerAlign{display: block; margin-left: 0 auto; margin-right: 0 auto;}
 
.ctaBtn{background-color: #e6e7e8;padding: 1em;text-align: center;border-radius: 1vw;margin-top: 2em;}

.ctaGreenBtn{background-color: #82bc41;padding: 1em;text-align: center;border-radius: 1vw;margin-top: 2em; color: white;}

#standinImagePicker{text-align: center;}

.dropDownBox{margin: 5% 0;}

.dropDownBox .header{background-color: #82bc41; color: white; padding:0 2%;}

.dropDownBox .content{padding: 2%; display: none; border: solid #000 1px;}

h1{padding: 5% 0; font-family: 'Quicksand', 'Ariel', sans-serif;}
h2{padding: 1% 0; font-family: 'Quicksand', 'Ariel', sans-serif;}
p{padding: 2% 0; font-family: 'Source+Sans+Pro', 'Ariel', sans-serif;}
.ctaBtn p{font-size: 1.25em;}
.ctaGreenBtn p{font-size: 1em;}
a{color: inherit; text-decoration: none;}


#why:click{}
