@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Quicksand);

@import "layout";

body {
  color: #6D6D6D;
  font-family: 'helvetica nue', 'helvetica', 'arial', sans-serif;
}

h1, h2, h3, h4, h5, nav a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

p {
  text-align: left !important;
  line-height: 1.7em;
}

nav a {
  font-weight: bold;
  float: right;
  border-bottom: 1px solid white;
  margin-top: -2em;
  padding: 0.5em 0;
}

h1.hero-cta {
  font-size: 3em;
  margin-bottom: 0;
}

.hero-sub-cta {
  margin-top: 1em;
}

.right {
  top: 0;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;

  h1 {
    margin-bottom: 2em;
    margin-top: 4em;
  }
}

.hero {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .call-to-action {
    width: 70%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }
}

.logo {
  width: 8em;
}

input {
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.submit {
  width: 100% !important;
  background: #8CC63F;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
}

form {
  padding-bottom: 10em;
}