.hero
  .container.inverse
    = link_to '/' do
      %img{ class:'logo', src: 'images/logo.png'}
    %nav
      = link_to 'Support Us', 'https://letsact.com.au/projects/thankbank/', target: '_blank'
    .call-to-action
      %h1.hero-cta
        Create Change, Gain Rewards
      %h3.hero-sub-cta
        Coming soon to iOS

.right
  .container
    %h1 1. Check in.
    %img{ class:'mockup mockup-portrait', src: 'images/screenshots/2.png'}
    %br
    %h1 2. Show the world your good deed.
    %img{ class:'mockup mockup-portrait', src: 'images/screenshots/3.png'}
    %br
    %h1 3. Earn Rewards.
    %img{ class:'mockup mockup-portrait', src: 'images/screenshots/4.png'}
    %h1 What we do.
    %p ThankBank is a mobile app that rewards you for doing good deeds, and we're starting with blood donations. Simply donate blood and check in. This gives you 3 months of discounts and coupons to use. You can share on Facebook to gain even more rewards and show your acts of kindness. To get this up and running, we need funding for app development and marketing... CREATE CHANGE. GAIN REWARDS.
    %h1 Why we do it.
    %p The millennial generation is a community populated with "slacktivists". They willingly “Like” the Red Cross Facebook page for the amazing efforts they make to save lives, but unfortunately they often don’t go and physically donate blood. “Likes” don't translate to lives saved. Australia needs to import blood from other countries because we don’t get enough, but it is this generation that has the most capability to turn this around through ThankBank. ThankBank changes "I want to do good" to "I DO good".
    %br
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/ueb8wIxWaVQ' frameborder='0' allowfullscreen></iframe></div>
    %h1 Interested in becoming a retailer?

    <form action="//formspree.io/john@netengine.com.au"method="POST"> <input type="text" name="Company" placeholder="Company"> <input type="email" name="_replyto" placeholder="Email Address"> <br> <input type="submit" value="Send" class="submit"> </form>